.venv
.atl
data/inputs/ventas_buenos_aires.json
data/inputs/ventas_lima.parquet
data/inputs/ventas_santiago.csv


data/psa/*
!data/psa/.gitkeep

data/gold/*
!data/gold/.gitkeep

data/errors/*
!data/errors/.gitkeep\

logs
*/__pycache__/